 <div class="row">
        <div class="col-sm-12">
        <nav class="navbar navbar-dark" style="background-color: #283747">
          <a class="navbar-brand" href="/" style="font-family: 'Press Start 2P', cursive; font-size:40px; margin-left:20px"> 
            RGCA </a>
          <form class="form-inline">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-gamepad" style= "font-size: 20px;"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              </div>
            </form>
        </nav>
      </div>
    </div>
   
    <br><br>
    <div class="container">
    <div class="row">
    <div class="col-sm-4">
    </div>
   
<div class="card" style="width: 18rem;">
   <div style="color: red; font-family: 'Press Start 2P', cursive;">
    <div style="background-color:#283747">
  <img class="card-img-top" src="/images/linkedin.png" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Contributors LinkedIn Pages</p>
  
<div class="list-group">
  <a href="https://linkedin.com/in/alexander-esch-37b69a62" class="list-group-item list-group-item-action active">
    Alex Esch
  </a>
  <a href="https://www.linkedin.com/in/timothy-dolan-023682127/" class="list-group-item list-group-item-action">Tim Dolan</a>
  <a href="https://www.linkedin.com/in/kristenkalmanson/" class="list-group-item list-group-item-action">Kristen Kalmanson</a>
  <a href="https://www.linkedin.com/in/david-sweck-7bab55106/" class="list-group-item list-group-item-action">David Sweck</a>
</div>
</div>

    </div>
    </div>
    </div>
    </div>
    </div>
    
    
<br>
<br>
<footer class="page-footer footer-expand-lg fixed-bottom" style="background-color: #283747">

  <div class="footer-copyright text-center py-3" style="font-family: 'Press Start 2P', cursive; color:white;">RGCA © 2018
    <a class="navbar-brand" href="/linkedin"> <img src= "/images/linkedin.png" height="30px"></a>
    <a class="navbar-brand" href="https://github.com/tdolan21/RGCA"> <img src= "/images/github.png" height="30px"></a>
      
  </div>
</footer>